<link rel="icon" type="image/png" sizes="96x96" href="/image/favicon-96x96.png">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>나들이 프로젝트</title>
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div id="header-placeholder"></div>

<div class="grid-container">
    <div class="card" data-title="청와대 앞길">
        <img src="./image/site/1-2 청와대 앞길.jpg" alt="여행지 2">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="경복궁">
        <img src="./image/site/2-2 경복궁 근정전.jpg" alt="여행지 6">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="광명동굴">
        <img src="./image/site/3-2 광명동굴 입구.jpg" alt="여행지 10">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="익선동">
        <img src="./image/site/4-2 익선동 2.jpg" alt="여행지 14">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="자라섬">
        <img src="./image/site/5-2 가평 자라섬 꽃페스타.jpg" alt="여행지 18">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울숲">
        <img src="./image/site/6-2 서울숲 워드마크 간판.jpg" alt="여행지 22">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울스카이">
        <img src="./image/site/7-2 롯데월드타워 서울스카이 전망대.webp" alt="여행지 26">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="수원화성">
        <img src="./image/site/8-2 수원 화성 화홍문.jpg" alt="여행지 30">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="광명동굴">
        <img src="./image/site/3-1 광명동굴.jpg" alt="여행지 9">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="광명동굴">
        <img src="./image/site/3-2 광명동굴 입구.jpg" alt="여행지 10">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="광명동굴">
        <img src="./image/site/3-3 광명동굴 2.jpg" alt="여행지 11">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="광명동굴">
        <img src="./image/site/3-4 광명동굴 3.jpg" alt="여행지 12">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="익선동">
        <img src="./image/site/4-1 익선동.jpg" alt="여행지 13">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="익선동">
        <img src="./image/site/4-2 익선동 2.jpg" alt="여행지 14">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="익선동">
        <img src="./image/site/4-3 익선동 3.webp" alt="여행지 15">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="익선동">
        <img src="./image/site/4-4 익선동 전경.jpg" alt="여행지 16">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="자라섬">
        <img src="./image/site/5-1 가평 자라섬.jpg" alt="여행지 17">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="자라섬">
        <img src="./image/site/5-2 가평 자라섬 꽃페스타.jpg" alt="여행지 18">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="자라섬">
        <img src="./image/site/5-3 가평 자라섬 조형물.jpg" alt="여행지 19">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="자라섬">
        <img src="./image/site/5-4 가평 자라섬 테마파크.JPG" alt="여행지 20">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울숲">
        <img src="./image/site/6-1 서울숲.webp" alt="여행지 21">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울숲">
        <img src="./image/site/6-2 서울숲 워드마크 간판.jpg" alt="여행지 22">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울숲">
        <img src="./image/site/6-3 서울숲 2.webp" alt="여행지 23">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울숲">
        <img src="./image/site/6-4 서울숲 3.webp" alt="여행지 24">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="롯데월드타워">
        <img src="./image/site/7-1 롯데월드타워 서울스카이.webp" alt="여행지 25">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울스카이">
        <img src="./image/site/7-2 롯데월드타워 서울스카이 전망대.webp" alt="여행지 26">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울스카이">
        <img src="./image/site/7-3 롯데월드타워 서울스카이 전망대 2.webp" alt="여행지 27">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="서울스카이">
        <img src="./image/site/7-4 롯데월드타워 서울스카이 스카이브릿지.jpg" alt="여행지 28">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="수원화성">
        <img src="./image/site/8-1 수원 화성 팔달문.jpg" alt="여행지 29">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
    <div class="card" data-title="수원화성">
        <img src="./image/site/8-2 수원 화성 화홍문.jpg" alt="여행지 30">
        <div class="card-info">
            <h3></h3>
        </div>
    </div>
</div>
<div id="footer-placeholder"></div>
<div class="rectangle3"></div>
<script src="/js/indexScript.js"></script>
<script src="/js/header.js?v=1.0"></script>
<script src="/js/footer.js?v=1.0"></script>
</body>
</html>