<link rel="icon" type="image/png" sizes="96x96" href="/image/favicon-96x96.png">
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>나들이 프로젝트</title>
  <link rel="stylesheet" href="/css/indexDesign.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/indexCarousel.css">
</head>
<body>
<div id="header-placeholder"></div>

<h2 style="text-align: center;">나들이에 오신 여러분 환영합니다!</h2>
<main id="main">
  <div id="slider">
    <button class="btn prev"><</button>
    <div class="wrapper">
      <div class="items">
        <div class="item"></div>
        <div class="item"><div class="content">1</div>
          <img src="./image/site/1-1 _청와대.jpg" alt="여행지 1">
        </div>
        <div class="item"><div class="content">2</div>
          <img src="./image/site/33-1 원대리 자작나무 숲.jpg" alt="여행지 2">
        </div>
        <div class="item"><div class="content">3</div>
          <img src="./image/site/47-1 국립세종수목원.jpg" alt="여행지 3">
        </div>
        <div class="item"><div class="content">4</div>
          <img src="./image/site/77-1 거창 항노화힐링랜드 Y자다리.jpg" alt="여행지 4">
        </div>
        <div class="item"><div class="content">5</div>
          <img src="./image/site/124-1 성산일출봉.jpg" alt="여행지 5">
        </div>
        <div class="item"></div>
      </div>
    </div>
    <button class="btn next">></button>
  </div>
</main>
<div class="rectangle3"></div>
  <div id="footer-placeholder"></div>
  <script src="/js/indexScript.js?v=1.0"></script>
  <script src="/js/header.js?v=1.0" defer></script>
  <script src="/js/footer.js?v=1.0"></script>
  <script src="/js/indexCarousel.js?v=1.0"></script>
</body>
</html>